<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3eaaf949136e03cef18a1d1032f7b336 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3eaaf949136e03cef18a1d1032f7b336" ></div>
        
</body>
<script>
    
    
            var map_3eaaf949136e03cef18a1d1032f7b336 = L.map(
                "map_3eaaf949136e03cef18a1d1032f7b336",
                {
                    center: [20.593684, 78.96288],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_75c321e7620cba7a1e8588906e2df393 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var marker_d7b8612ac6ca92b20343c90f98c7a0ba = L.marker(
                [21.69453, 88.144],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_29b7959516c432a91903df6d6d35360e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d7b8612ac6ca92b20343c90f98c7a0ba.setIcon(icon_29b7959516c432a91903df6d6d35360e);
        
    
        var popup_c724289f52a5bcc12466930c3ff1e1d3 = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_7465bc2be637653873460d53b02ea449 = $(`<div id="html_7465bc2be637653873460d53b02ea449" style="width: 100.0%; height: 100.0%;">house id: BN001<br>Occupation: CASUAL LABOUR<br>house_type: kucha<br>male/female :0.666666667</div>`)[0];
                popup_c724289f52a5bcc12466930c3ff1e1d3.setContent(html_7465bc2be637653873460d53b02ea449);
            
        

        marker_d7b8612ac6ca92b20343c90f98c7a0ba.bindPopup(popup_c724289f52a5bcc12466930c3ff1e1d3)
        ;

        
    
    
            var marker_6ee829b5a2e876b2eba13d26d6de6d2e = L.marker(
                [21.7218914, 88.1454553],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_37b2eaeade5e48a3e448a48804d73581 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_6ee829b5a2e876b2eba13d26d6de6d2e.setIcon(icon_37b2eaeade5e48a3e448a48804d73581);
        
    
        var popup_ce23b48d47468ee06bee0efe6db2824e = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_0280b9563e6ab27dfda49f37484d0b41 = $(`<div id="html_0280b9563e6ab27dfda49f37484d0b41" style="width: 100.0%; height: 100.0%;">house id: BN002<br>Occupation: CASUAL LABOUR<br>house_type: Semi Kutcha<br>male/female :1</div>`)[0];
                popup_ce23b48d47468ee06bee0efe6db2824e.setContent(html_0280b9563e6ab27dfda49f37484d0b41);
            
        

        marker_6ee829b5a2e876b2eba13d26d6de6d2e.bindPopup(popup_ce23b48d47468ee06bee0efe6db2824e)
        ;

        
    
    
            var marker_c2fbcbd21ccff3d174f24b28a78829e1 = L.marker(
                [21.687268, 88.131859],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_3b924d5b4cb8d9233bbe67c0615d8d92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c2fbcbd21ccff3d174f24b28a78829e1.setIcon(icon_3b924d5b4cb8d9233bbe67c0615d8d92);
        
    
        var popup_2e110d5c5f4a0ec0b668cf19158d170e = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_796836bdb0b846a5a6b6537978b4254b = $(`<div id="html_796836bdb0b846a5a6b6537978b4254b" style="width: 100.0%; height: 100.0%;">house id: BN003<br>Occupation: LABOUR IN FISHING TRALLER<br>house_type: Kucha<br>male/female :2</div>`)[0];
                popup_2e110d5c5f4a0ec0b668cf19158d170e.setContent(html_796836bdb0b846a5a6b6537978b4254b);
            
        

        marker_c2fbcbd21ccff3d174f24b28a78829e1.bindPopup(popup_2e110d5c5f4a0ec0b668cf19158d170e)
        ;

        
    
    
            var marker_c6a6e994d37dfa8ae1f10b216ac6b71d = L.marker(
                [21.695468, 88.147552],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_63bf2ef9c4cebe6a850d23456326f1b5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c6a6e994d37dfa8ae1f10b216ac6b71d.setIcon(icon_63bf2ef9c4cebe6a850d23456326f1b5);
        
    
        var popup_9e2f1428385cefdec06ef0a4fc2c7ca8 = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_4c138d3f2ecf4ea1dc56b639c4e0ce22 = $(`<div id="html_4c138d3f2ecf4ea1dc56b639c4e0ce22" style="width: 100.0%; height: 100.0%;">house id: BN004<br>Occupation: RAJMISTRI<br>house_type: Cemented<br>male/female :3</div>`)[0];
                popup_9e2f1428385cefdec06ef0a4fc2c7ca8.setContent(html_4c138d3f2ecf4ea1dc56b639c4e0ce22);
            
        

        marker_c6a6e994d37dfa8ae1f10b216ac6b71d.bindPopup(popup_9e2f1428385cefdec06ef0a4fc2c7ca8)
        ;

        
    
    
            var marker_edf6c39979c2e8236fc879abf389677c = L.marker(
                [21.697163, 88.145445],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_e961e23889fa9dd5a6bd0946e6b9b3fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_edf6c39979c2e8236fc879abf389677c.setIcon(icon_e961e23889fa9dd5a6bd0946e6b9b3fb);
        
    
        var popup_288e63412747607930436ed5e051dddc = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_ffffaa8a8e6076f4a03753f4dd997a3c = $(`<div id="html_ffffaa8a8e6076f4a03753f4dd997a3c" style="width: 100.0%; height: 100.0%;">house id: BN005<br>Occupation: FISHING TRALLER<br>house_type: Cemented<br>male/female :0.2</div>`)[0];
                popup_288e63412747607930436ed5e051dddc.setContent(html_ffffaa8a8e6076f4a03753f4dd997a3c);
            
        

        marker_edf6c39979c2e8236fc879abf389677c.bindPopup(popup_288e63412747607930436ed5e051dddc)
        ;

        
    
    
            var marker_d0dcf08835aaf3f01836466aeaf918ff = L.marker(
                [21.7218914, 88.1454553],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_c844fa3d0a83b0f16e22daa714215173 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d0dcf08835aaf3f01836466aeaf918ff.setIcon(icon_c844fa3d0a83b0f16e22daa714215173);
        
    
        var popup_d7f73cd9449610c67219b4fef36628a9 = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_65b0b25d5cf804c82667d65517251ac4 = $(`<div id="html_65b0b25d5cf804c82667d65517251ac4" style="width: 100.0%; height: 100.0%;">house id: BN006<br>Occupation: STORE MANAGER<br>house_type: Kucha<br>male/female :3</div>`)[0];
                popup_d7f73cd9449610c67219b4fef36628a9.setContent(html_65b0b25d5cf804c82667d65517251ac4);
            
        

        marker_d0dcf08835aaf3f01836466aeaf918ff.bindPopup(popup_d7f73cd9449610c67219b4fef36628a9)
        ;

        
    
    
            var marker_b57336c62a610ccc61d4cacf7f19fe64 = L.marker(
                [21.6944312, 88.14406565],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_854e56e5c91d93304aaa87e519f90750 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b57336c62a610ccc61d4cacf7f19fe64.setIcon(icon_854e56e5c91d93304aaa87e519f90750);
        
    
        var popup_a2b6d8444a3ae8af93049a3c782ef7b6 = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_4aacee4d1d8f0f120eab5b5b16a49ae5 = $(`<div id="html_4aacee4d1d8f0f120eab5b5b16a49ae5" style="width: 100.0%; height: 100.0%;">house id: BN007<br>Occupation: TRALLER<br>house_type: Semi Kutcha<br>male/female :1</div>`)[0];
                popup_a2b6d8444a3ae8af93049a3c782ef7b6.setContent(html_4aacee4d1d8f0f120eab5b5b16a49ae5);
            
        

        marker_b57336c62a610ccc61d4cacf7f19fe64.bindPopup(popup_a2b6d8444a3ae8af93049a3c782ef7b6)
        ;

        
    
    
            var marker_8dd831fbdf918ffb6656a675a017e918 = L.marker(
                [21.688999, 88.13758],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_5d6c9902c8560c8d13e1b44648c9f502 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_8dd831fbdf918ffb6656a675a017e918.setIcon(icon_5d6c9902c8560c8d13e1b44648c9f502);
        
    
        var popup_2189a4b655a7b62574074a4b92e22920 = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_3469d69c896786e08b8c75fc38ec3225 = $(`<div id="html_3469d69c896786e08b8c75fc38ec3225" style="width: 100.0%; height: 100.0%;">house id: BN008<br>Occupation: ROAD CONSTRUCTOR<br>house_type: Kucha<br>male/female :3</div>`)[0];
                popup_2189a4b655a7b62574074a4b92e22920.setContent(html_3469d69c896786e08b8c75fc38ec3225);
            
        

        marker_8dd831fbdf918ffb6656a675a017e918.bindPopup(popup_2189a4b655a7b62574074a4b92e22920)
        ;

        
    
    
            var marker_523d3497c0ed5664bb6a0b2568f1f2f3 = L.marker(
                [22.303, 33.88],
                {"zoomStart": 4}
            ).addTo(map_3eaaf949136e03cef18a1d1032f7b336);
        
    
            var icon_db007d2746d8546ab45ef7d115622e0e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_523d3497c0ed5664bb6a0b2568f1f2f3.setIcon(icon_db007d2746d8546ab45ef7d115622e0e);
        
    
        var popup_0d56bd8a48fb049e4c07dc4741836e37 = L.popup({"maxWidth": 200, "style": "font-size: 12px ,font-weight: bold,font-family: monospace"});

        
            
                var html_1620e2290bf8c6fade5cccb27f250969 = $(`<div id="html_1620e2290bf8c6fade5cccb27f250969" style="width: 100.0%; height: 100.0%;">house id: bn303<br>Occupation: jhg<br>house_type: jhj<br>male/female :hk</div>`)[0];
                popup_0d56bd8a48fb049e4c07dc4741836e37.setContent(html_1620e2290bf8c6fade5cccb27f250969);
            
        

        marker_523d3497c0ed5664bb6a0b2568f1f2f3.bindPopup(popup_0d56bd8a48fb049e4c07dc4741836e37)
        ;

        
    
</script>
</html>